[submodule "planner"]
	path = planner
	url = https://github.com/saArbabi/planner

[submodule "models"]
	path = models
	url = https://github.com/saArbabi/models
[submodule "tree_search"]
	path = tree_search
	url = https://github.com/saArbabi/tree_search
